#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.form{
  color: black;
  background-color: aliceblue;
  border-radius: 10px;
  border: 2px solid rgb(255, 166, 0);
}
.form-submit{
  padding: 10px;
  background-color: #888;
}
.form-submit>label{
  padding: 20px;
}
.form-submit>input{
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid black;
  color: black;
}
.form-submit>button{
  margin: 10px;
}

.card{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.card>span{
  display: flex;
  align-items: start;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  gap: 10px;
}

.read-the-docs {
  color: #888;
}
